/* Import any font from Google Fonts */

@import url('https://fonts.googleapis.com/css?family=Khula');
* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  margin: 0;
  padding: 5px;
  width: 100%;
}

body {
  background-color: white;
  margin-top: 15px;
  padding: 5px;
  font-family: 'Khula', sans-serif;
  font-size: 12pt;
  color: black;
}

div {
  width: 33%;
  height: 33px;
  margin-left: 15px;
  padding: 15px;
  background-color: lightgreen;
  color: #ECEDF2;
  font-family: 'Khula', sans-serif;
  font-size: 12pt;
}
